body {
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', 'Montserrat', 'Roboto', sans-serif;
}

.nav {
    display: flex;
    justify-content: space-around;
}

.menu {
    margin-left: 2%;
    margin-top: 1%;
}

.logo {
    margin-left: 24%;
    margin-top: -9%;
}

.bolsa {
    margin-right: -3%;
    margin-top: 1%;

}
.bolsa-img{
    width: 30%;
}
.menu-img{
    width: 30%;
}
.logo-img{
    width: 60%;
}
.line {
    margin-top: -10%;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-new {
    margin-top: 1%;
    font-weight: 600;
    font-size: 5vh;
    color: #EFBBD5;
}

#new,
#exclusive,
#products {
    width: 95vw;
    height: 60vh;
    border: 0.5vh solid #EFBBD5;
    border-radius: 8vh;
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 5vh;
    padding-top: 5vh;

}

#products {
    border: 0.5vh solid #9BDDD2;
}

#exclusive {
    border: 0.5vh solid #f3e75e;
}

.title-products {
    margin-top: 1%;
    font-size: 5vh;
    color: #9BDDD2;
}



.title-exclusive {
    margin-top: 1%;
    font-size: 5vh;
    color: #f3e75e;
}

#box {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#product-image {
    width: 10vw;
    padding: 0%;
    margin: 0%;
    margin-top: 4vh;
    transition: all .2s ease-in-out;
}

#product-image:hover {
    transform: scale(1.1);
}

#product-title {
    
    letter-spacing: 0.2vh;
    font-size: 2.0vh;
    line-height: 3.5vh;
    text-align: center;
    max-width: 40vw;
}

#product-description {
   
    margin-top: 5vh;
    width: 35vh;
    max-width: 49vw;
    line-height: 1.8vh;
    font-size: 1.5vh;
    
}

#product-price {
    
    font-size: 3vh;
    margin-top: 3vh;
    text-align: start;
    width: 100%;
}

#product-button {
    
    text-align: center;
    margin-top: -6%;
    border-color: black;
    background-color: white;
    border-radius: 5vh;
    font-size: 80%;
    width: 20%;
    
    
}

#product-button:hover {
    background-color: #EFBBD5;
    cursor: pointer;
}

.line2 {
    margin-top: 1%;
}

.footer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    height: 10vh;
}

.twitter {
    height: 4vh;
    width: 4vh;
    margin-top: 3vh;
}

#principal-product-img {
    margin-top: 12vh;
    width: 60vh;
    height: 80vh;
}

a {
    text-decoration: none;
    color: white
}

/********************************
***          SHOPPINGCART     ***
********************************/

.main-cart {
    
    width: 60vw;
    text-align: center;
    padding-bottom: 10vh;
}

.total-cart {
    
    width: 20vw;
    height: 65vh;
    margin-left: 5%;
    text-align: center;

}

.body-cart {
    display: flex;
    justify-content: center;
}

.itemQuantity {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18vh;
    padding: 0;
}

.subtract,
.add {
   
    text-align: center;
    margin-top: 1vh;
    border-color: black;
    border-radius: 5vh;
    background-color: white;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
    padding-left: 1vh;
    padding-right: 1vh;
    margin-right: 2vh;
    margin-left: 2vh;
}

#delete-button {
    
    text-align: center;
    margin-top: 1vh;
    border-color: black;
    background-color: white;
    border-radius: 5vh;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
    padding-left: 1vh;
    padding-right: 1vh;
}

.subtract:hover,
.add:hover,
#delete-button:hover,
.deleteCart:hover,
#tramitarPedido:hover {
    background-color: #EFBBD5;
    cursor: pointer;

}

.deleteCart,
#tramitarPedido {
    
    text-align: center;
    margin-top: 1vh;
    border-color: black;
    background-color: white;
    border-radius: 5vh;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
    padding-left: 1vh;
    padding-right: 1vh;
    margin-bottom: 5vh;
    margin-top: 5vh;

}

.total-cart {

    background-color: #ffedf6;


}

#total {
    margin-bottom: 2vh;
    margin-top: 2vh;
}

h2 {

   
    margin-top: 1vh;

}

.totalItem {
    color: black;
    height: 2vh;
    transform: translateY(-4.7vh);
    margin-left: 1vh;

}

.line3 {
    margin-top: 2%;

}


@media (max-width: 700px) {

    #new,
    #products,
    #exclusive {
        flex-direction: column;
        height: auto;
        width: 60vh;
        display: flex;
    }
   
    #product-price{
        width:58%;
    }
    #product-title{
        font-size: 3vh;
        margin-top: 6vh;
        
    }
    #product-description{
        font-size: 1.9vh;
    }
    #product-image{
        width: 30%;
    }
   
   .bolsa-img,
   .menu-img{
    width: 60%;
   }
    .logo-img{
        width:70% ;
    }  
}
