#product-title {
    font-size: 2vh;
}

#product-image {
    width: 200px;
    height: 200px;
}

#product-description {
    font-size: 1.8vh;
    font-weight: lighter;
}

#product-price {
    font-size: 1.5vh;
}