body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', 'Roboto', sans-serif;
}

.nav {
    display: flex;
    justify-content: space-around;
}

.menu {
    margin-left: 2%;
    margin-top: 1%;
}

.logo {
    margin-left: 24%;
}

.bolsa {
    margin-right: -3%;
    margin-top: 1%;
}

.bolsa-img {
    width: 30%;
}

.menu-img {
    width: 30%;
}

.logo-img {
    width: 60%;
}

.line {
    margin-top: -10%;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin: 1;
}

h2 {
    font-weight: 400;
}

#new,
#exclusive,
#products {
    width: 95vw;
    height: 60vh;
    border: 0.5vh solid #EFBBD5;
    border-radius: 8vh;
    display: flex;
    justify-content: space-around;
    padding-bottom: 5vh;
    padding-top: 5vh;

}

#products {
    border: 0.5vh solid #9BDDD2;
}

#exclusive {
    border: 0.5vh solid #f3e75e;
}


.title-new {
    font-size: 5vh;
    color: #EFBBD5;
}

.title-products {
    font-size: 5vh;
    color: #9BDDD2;
}

.title-exclusive {
    font-size: 5vh;
    color: #f3e75e;
}

#box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20.5vw;
}

#product-image {
    width: 10vw;
    padding: 0%;
    margin: 0%;
    margin-top: 4vh;
    transition: all .2s ease-in-out;
}

#product-image:hover {
    transform: scale(1.1);
}

#product-title {
    letter-spacing: 0.2vh;
    font-size: 2.5vh;
    line-height: 3.5vh;
    text-align: center;
    max-width: 40vw;
    font-weight: 600;
}

#product-description {
    margin-top: 5vh;
    height: 5.34vh;
    max-width: 40vw;
    line-height: 1.8vh;
    font-size: 1.5vh;
}

#product-price {
    font-size: 3vh;
    margin-top: 3vh;
    text-align: start;
    width: 100%;
}

#product-button {
    text-align: center;
    border-color: black;
    background-color: white;
    border-radius: 5vh;
    font-size: 1.3vh;
    width: 20%;


}

#product-button:hover {
    background-color: #EFBBD5;
    cursor: pointer;
}

.line2 {
    margin-top: 1%;
}

.footer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    height: 10vh;
}

.twitter {
    height: 4vh;
    width: 4vh;
    margin-top: 3vh;
}

#principal-product-img {
    margin-top: 12vh;
    width: 60vh;
    height: 80vh;
}

a {
    text-decoration: none;
    color: white;
}

/********************************
***          SHOPPINGCART     ***
********************************/

.main-cart {

    width: 60vw;
    text-align: center;
    padding-bottom: 10vh;
}

.total-cart {
    width: 20vw;
    height: 65vh;
    margin-left: 5%;
    text-align: center;
}

.body-cart {
    display: flex;
    margin-left: 5vw;
    min-height: 68vh;
}

.body-cart h2 {
    padding-top: 3vh
}

.itemQuantity {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18vh;
    padding: 0;
}

.subtract,
.add {

    text-align: center;
    border-color: black;
    border-radius: 5vh;
    background-color: white;
    margin-right: 2vh;
    margin-left: 2vh;
    width: 1.5vw;
    height: 3vh;
}

td {
    text-align: center;
}

button {
    font-family: "Montserrat";
}

#delete-button {

    text-align: center;
    margin-top: 1vh;
    border-color: black;
    background-color: white;
    border-radius: 5vh;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
    padding-left: 1vh;
    padding-right: 1vh;
}

.subtract:hover,
.add:hover,
#delete-button:hover,
.deleteCart:hover,
#tramitarPedido:hover {
    background-color: #EFBBD5;
    cursor: pointer;
}

.deleteCart,
#tramitarPedido {

    text-align: center;
    margin-top: 1vh;
    border-color: black;
    background-color: white;
    border-radius: 5vh;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
    padding-left: 1vh;
    padding-right: 1vh;
    margin-bottom: 5vh;
    margin-top: 5vh;

}

input {
    border: none;
    border-radius: 1vh;
}

.personaldata-container {
    width: 30%;
}

.shipping-container {
    width: 30%;
}

.data-container {
    display: flex;
    justify-content: center;
    margin-bottom: 6vh;
}

.total-cart {
    background-color: #ffedf6;
    width: 35vw;
    height: 80vh;
    position: fixed;
    margin-left: 50vw;
    margin-top: 5vh;
    z-index: 1;
}

h5 {
    font-weight: 400;
}

.resume{
    background-color: #ffedf6;
    width: 20vw;
    height: 65vh;
    margin-left: 5%;
    margin-top: 4vh;
    text-align: center;
    position: fixed;
    margin-left: 67vw;
}

.main-shopping {
    width: 40vw;
}

.body-cart2 {
    display: flex;
    margin-left: 10vw;
}

#total {
    margin-top: 4vh;
    margin-bottom: -2vh;
}

h2 {
    margin-top: 1vh;
}

.totalItem {
    color: black;
    height: 2vh;
    transform: translateY(-4.7vh);
    margin-left: 1vh;

}

.line3 {
    margin-top: 2%;
}

@media (max-width: 1500px) {
    #box {
        width: 45%;
    }

    #product-price {
        width: 58%;
    }

    #product-title {
        font-size: 3vh;
        margin-top: 6vh;

    }

    #product-description {
        font-size: 1.9vh;
    }

    #product-image {
        width: 30%;
    }

    #product-button {
        width: 10%;
        font-size: 1.4vh;
    }

    #new,
    #products,
    #exclusive {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
        width: 95vw;
    }

    .body-cart2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .data-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .total-cart {
       position: relative;
       margin: 0;
       height: auto;
       margin-top: 5vh;
       width: 60vw;
    }
}

@media (max-width: 700px) {

    #box {
        width: 90%;
    }

    #new,
    #products,
    #exclusive {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 90vw;
    }

    #product-price {
        width: 58%;
    }

    #product-title {
        font-size: 3vh;
        margin-top: 6vh;

    }

    #product-description {
        font-size: 1.9vh;
    }

    #product-image {
        width: 30%;
    }

    .bolsa-img,
    .menu-img {
        width: 60%;
    }

    .logo-img {
        width: 70%;
    }
}
