* {
    font-family: "Harlow";
    color: black;
    margin: 0;
    padding: 0;
}

@font-face {
            font-family: "Harlow";
            src: url("/Fonts/HelveticaNeueCyrBold.ttf");
        }

@font-face {
            font-family: "Harlowlight";
            src: url("/Fonts/HelveticaNeueCyr-Light.ttf");
        }

body {
    width: 100vw;
}

header {
    padding-top: 2vh;
    padding-bottom: 0.2vh;
    width: 100vw;
    height: 5vh;
    background-color: black;
    letter-spacing: 1vh;
    position: fixed;
}

ul {
    display: flex;
    justify-content: space-evenly;
}

li {

    list-style: none;
    font-size: 2vh;
    letter-spacing: 0.5vh;
    color: white;
}

li:hover {
    font-weight: 600;
    color: blueviolet;
    cursor: pointer;
}

#carrito {
    margin-top: -1vh;
}

#logo-div {
    display: flex;
    justify-content: center;
    background-color: white;
    height: 25vh;
}

#logo {
    margin-top: 3vh;
}

h1 {
    width: 100vw;
    margin-bottom: 0;
    text-align: center;
    letter-spacing: 1.4vh;
    font-weight: 300;
    font-size: 4vh;
    padding: 2vh;
    color: white;
}

.title-new {
    background-image: url(/imagenes/Novedades.png);
    background-size: cover;
}

.title-products {
    background-image: url(/imagenes/Novedades.jpg);
    background-size: cover;
}

.title-exclusive {
    background-image: url(/imagenes/samurai-japan-japanese-digital-art-artwork-hd-wallpaper-d33e540c52f0c77ca182734d8eb51838.jpg);
    background-size: cover;
}

.container {
    margin-top: -3vh;
}

#new,
#products,
#exclusive {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-bottom: 5vh;
    padding-top: 5vh;
}

#product-image {
    width: 20vh;
    height: 27vh;
    margin-top: 2vh;
    margin-left: 13vh;
    transition: all .2s ease-in-out;
}

#product-image:hover {
    transform: scale(1.1);
}

#product-title {
    letter-spacing: 0.2vh;
    font-size: 3.4vh;
    line-height: 3.5vh;
    margin-left: 3vh;
    text-align: center;
    max-width: 40vh;
}

#product-description {
    margin-top: 3vh;
    width: 50vh;
    max-width: 49vh;
    line-height: 3.5vh;
    font-family: "Harlowlight";
    font-size: 2.1vh;
}

#product-price {
    font-size: 30px;
    margin-top: 3vh
}

#product-button {
    font-family: "Harlow";
    text-align: center;
    margin-top: 1vh;
    border-color: black;
    background-color: white;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
    padding-left: 1vh;
    padding-right: 1vh;
}

#product-button:hover {
    background-color: blueviolet;
    cursor: pointer;
}

footer {
    position: fixed;
    background-color: rgb(0, 0, 0);
    bottom: 0;
    left: 0;
    right: 0;
    height: 10vh;
}

#twitter {
    height: 4vh;
    width: 4vh;
    margin-top: 3vh;
}

#principal-product-img {
    margin-top: 12vh;
    width: 60vh;
    height: 80vh;
}

a{
    text-decoration: none;
    color:white
}



/********************************
***          SHOPPINGCART     ***
********************************/

.main-cart {
    width: 60vw;
    text-align: center;
    padding-bottom: 10vh;
}
.total-cart {
    width: 30vw;
    text-align: center;
}
.body-cart {
    display: flex;
    justify-content: center;
}

.itemCart {
    display: flex;
}